@model IEnumerable<ASP.NETCoreMVCDemo.Models.StudentInfo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.studentname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.branchname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.startdate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gpapercentage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emailid)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branchname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gpapercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.studentid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.studentid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.studentid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
